<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <form action="total" method="post">
            <input type="text" name="val1" />

            <br />
            <br />
            <input type="radio" name="cacl" value= "+" />+<br />
            <input type="radio" name="cacl" value= "-" />-<br />
            <input type="radio" name="cacl" value= " *" />*<br />
            <input type="radio" name="cacl" value= " /" />/<br />
            <br />
            <input type="text" name="val2" />
            <br />
            <br />

            <input type="submit" value="Total" />
        </form>
    </div>
</body>
</html>